:root {
    --padding-contenedor: 100px 0;
    --color-title: #ffffff;/*LETRAS, TITULOS ETC DE ESTE COLOR*/
}/*Declaracion de estilos globales para usar en el resto del documento*/
.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-contenedor);/*Invocacion de funcion por ejemplo*/
}

.cabeza {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.cabeza::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#0000008c, #0000008c), url('../IMG/Inicio.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

.b{
    background: -webkit-linear-gradient(left, #000000, #790000, #000000);
    background: linear-gradient(to right, #000000, #790000, #000000);
}

/* navbar */

.navbarbar {
    --padding-contenedor: 0;
    height: 100%;
    display: flex;
    align-items: center;
}
.navbarbar__logo img:hover{
    cursor: default;
}

.navbar__enlace {
    margin-right: 3px;
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 3em;
}

.navbar__enlace li:hover{
    transform: scale(1.1);
}

.navbar__items {
    list-style: none;
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

.navbar__enlaces {
    color: #fff;
    text-decoration: none;
}

.navbar__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.navbar__img {
    display: block;
    width: 30px;
}


.navbar__close {
    display: var(--mostrar, none);
}
.cabeza__contenedor {
    max-width: 800px;
    --padding-contenedor: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.cabeza__title {
    font-size: 3rem;
}

.cabeza__parrafo {
    margin-bottom: 20px;
}

.regb{
    display: inline-block;
    background-color: #999999;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

.regb:hover{
    background-color: #c0c0c0;
}

.container {
    text-align: center;
    margin-top: 20%;
  }
  
  #textAnimation {
    font-size: 36px;
    font-weight: bold;
    color: #fdfdfd;
    overflow: hidden; 
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .15em; 
    position: relative; 
  }
  
  /* Animación de escritura */
  #textAnimation::after {
    content: '|'; 
    position: absolute;
    top: 0; 
    animation: blink-caret .75s step-end infinite;
  }
  
  /* Animación de parpadeo del cursor */
  @keyframes blink-caret {
    from, to { opacity: 0 }
    50% { opacity: 1 }
  }
.img-navbar:hover{
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

.pie{
    background-color: #1D293F;
}

.pie__title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.pie__title, .pie__newsletter{
    color: #fff;
}


.pie__contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
}

.navbar--pie{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.navbar__enlace--pie{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.pie__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.pie__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.pie__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px ;
    background-color: #2091F9;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}

.pie__text2{
    --padding-contenedor: 30px 0;
    text-align: center;
    color: #fff;
}

.pie__text2right{
    font-weight: 300;
}

.pie__icons{
    margin-bottom: 10px;
}

.pie__img{
    width: 30px;
}

/* preciooo */

.subtitulo {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
}

.preciooo{
    text-align: center;
}

.preciooo__tabla{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.preciooo__cuadro{
    background-color: #1746A2;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #ffffff;
    --color-preciooo: #ffffff;
    --bg-cta: #999999;
    --color-cta: #000000;
    --color-items: #ffffff;
}

.preciooo__cuadro--mejorp{
    width: 370px;
    padding: 60px 40px;
    background-color: #181D50;
    --color-plan: rgb(255, 255, 255);
    --color-preciooo: #fff;
    --bg-cta: #999999;
    --color-cta: #000000;
    --color-items: #ffffff;
}


.preciooo__nombre{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.preciooo__preciooo{
    font-size: 2.5rem;
    color: var(--color-preciooo);
}

.preciooo__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.preciooo__cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

.preciooo__cta:hover{
    background-color: #FF731D;
}

/* qsomos */

.qsomos{
    background: linear-gradient(to bottom, #000022, #000044, #000066, #000088, #0000AA, #000088, #000066, #000044, #000022);
   
    background: -webkit-linear-gradient(top, #000022, #000044, #000066, #000088, #0000AA, #000088, #000066, #000044, #000022);
    
    background-color: #000022;
}

.qsomos__review{
    color: #fff;
}

.qsomos__contenedor{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.qsomos__cuerpo{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.qsomos__cuerpo--mostrar{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.qsomos__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.qsomos__tex{
    max-width: 700px;
}

.qsomos__course{
    background-color: #999999;
    color: #000000;
    display: inline-block;
    padding: 5px;
}

.qsomos__flecha{
    width: 90%;
    cursor: pointer;
}

.preguntas__text2{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}

.preguntas__oferta{
  width: 50%;
  margin: 0 auto; 
  text-align: center; 
  border-radius: 50px;
  padding: 20px; 
  background: linear-gradient(to bottom, #805311, #966e09);
  color: white;
  position: relative;

}

.imgES {
    position: absolute;
    top: 10px;
    right: 10px; 
    width: 100px; 
    height: 100px;
    border-radius: 10px; 
  }

/* Media queries */

@media (max-width:800px){
    .navbar__menu{
        display: block;
    }

    .navbar__enlace--menu{
        position: fixed;
        background-color: #000;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .navbar__enlace--mostrar{
        --mostrar: block;
        opacity:1 ;
        pointer-events: unset;
    }

    .navbar__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .cabeza{
        font-size: 2.5rem;
    }


    .acerca__main{
        gap: 2em;
    }

    .acerca__icons:last-of-type{
        grid-column: 1/-1;
    }


    .infoad__contenedor{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .infoad__imagen{
        grid-row: 1/2;
        justify-self: center;
    }

    .qsomos__contenedor{
        grid-template-columns: 30px 1fr 30px;
    }

    .qsomos__cuerpo{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items:center ;
    }


    .qsomos__img{
        width: 200px;
        height: 200px;
        
    }

    .preguntas__text2{
        width: 100%;
    }

    .pie__contenedor{
        flex-wrap: wrap;
    }

    .navbar--pie{
        width: 100%;
        justify-items: center;
    }

    .navbar__enlace--pie{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .pie__form{
        width: 100%;
        justify-content: space-evenly;
    }

    .pie__input{
        flex: 1;
    }

}

@media (max-width:600px){
    .cabeza__title{
        font-size: 2rem;
    }

    .cabeza__parrafo{
        font-size: 1rem;
    }

    .subtitulo{
        font-size: 1.8rem;
    }

    .preciooo__cuadro{
        width: 90%;
    }

    .preciooo__cuadro--mejorp{
        width: 90%;
    }

    .preciooo__preciooo{
        font-size: 2rem;
    }

    .qsomos{
        --padding-contenedor: 60px 0;
    }

    .qsomos__contenedor{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .qsomos__flecha{
        width: 100%;
    }

    .qsomos__course{
        margin-top: 15px;
    }

    .preguntas__title{
        font-size: 1rem;
    }

    .pie__title{
        justify-self: start;
        margin-bottom: 15px;
    }

    .navbar--pie{
        padding-bottom: 60px;
    }

    .navbar__enlace--pie{
        justify-content: space-between;
    }

    .pie__inputs{
        flex-wrap: wrap;
    }

    .pie__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .pie__submit{
        margin-right: auto;
        margin-left: 0;
    }
}

/*NAVBAR 2*/

.header{
    background: linear-gradient(to right, #790000, #000066, #000022 );
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    border-bottom: 4px solid #000;
}
.header .logo img{
    height: 70px;
    width: flex;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}
.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 30px; 

}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 800;
    color: #ffffff;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #8dd9ff;
}

.header .btn button{
    font-weight: 800;
    color: #000;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #e2f1f8;
    color: #00A1F4;
    transform: scale(1.1);
}

.contenedor__background-triangle{
    max-width: 1200px;
    height: 600px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

.triangle{
    width: 300px;
    height: 300px;
    background: red;
    position: absolute;
    border: 2px solid black;
}

.triangle1{
    width: 250px;
    height: 250px;
    background: -webkit-linear-gradient(left, #000000, #790000, #000000);
    background: linear-gradient(to right, #000000, #790000, #000000);
    right: 100px;
    top: 100px;
    animation: t1 8s ease infinite;
    border: 3px solid black;
}

.triangle2{
    width: 200px;
    height: 200px;
    background: linear-gradient(to left, #010049, #470000);
    top: 350px;
    animation: t2 9s ease infinite;
    border: 3px solid black;
}

.triangle3{
    width: 300px;
    height: 300px;
    background: linear-gradient(to bottom, #000022, #000044, #000066, #000088, #0000AA, #000088, #000066, #000044, #000022);
    background: -webkit-linear-gradient(top, #000022, #000044, #000066, #000088, #0000AA, #000088, #000066, #000044, #000022);
    left: 200px;
    animation: t3 7s ease infinite;
    border: 3px solid black;
}

@keyframes t1 {
    0%{
        transform: rotate(45deg) translateY(0px);
    }
    50%{
        transform: rotate(45deg) translateY(20px);
    }
    100%{
        transform: rotate(45deg) translateY(0px);
    }
}

@keyframes t2 {
    0%{
        transform: rotate(65deg) translateY(0px);
    }
    50%{
        transform: rotate(65deg) translateY(20px);
    }
    100%{
        transform: rotate(65deg) translateY(0px);
    }
}

@keyframes t3 {
    0%{
        transform: rotate(45deg) translateY(0px);
    }
    50%{
        transform: rotate(45deg) translateY(20px);
    }
    100%{
        transform: rotate(45deg) translateY(0px);
    }
}

/*REGISTRO FONDO ANIMADO*/
.fondo {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: -1;
}

.burbuelementos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.burbuelementos li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background: linear-gradient(to right, #000022, #000044, #000066, #000088, #0000AA, #000088, #000066, #000044, #000022);
  bottom: 60px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  opacity:0;
  border: 2px solid #000000;
}

.burbuelementos li:nth-child(1) {
  left: 3%;
  border-radius:50em;
  border:2px solid #000000;
}
.burbuelementos li:nth-child(2) {
  left: 6%;
  width: 75px;
  height: 75px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.burbuelementos li:nth-child(3) {
  left: 15%;
  width: 175px;
  height: 175px;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.burbuelementos li:nth-child(4) {
  left: 40%;
  width: 90px;
  height: 90px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
}
.burbuelementos li:nth-child(5) {
  left: 70%;
  border:2px solid #000000;
}
.burbuelementos li:nth-child(6) {
  left: 90%;
  width: 90px;
  height: 90px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  border-radius:50em;
  border:2px solid #000000;
}
.burbuelementos li:nth-child(7) {
  left: 32%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
    border:2px solid #000000;
}
.burbuelementos li:nth-child(8) {
  left: 55%;
  width: 50px;
  height: 50px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.burbuelementos li:nth-child(9) {
  left: 30%;
  width: 140px;
  height: 140px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  border-radius:50em;
  border:2px solid #000000;
}
.burbuelementos li:nth-child(10) {
  left: 90%;
  width: 60px;
  height: 60px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
.burbuelementos li:nth-child(11) {
  left: 10%;
  width: 40px;
  height: 40px;
  -webkit-animation-delay: 13s;
          animation-delay: 13s;
  border-radius:50em;
}
.burbuelementos li:nth-child(12) {
  left: 55%;
  width: 175px;
  height: 175px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
  border:2px solid #000000;
}

.burbuelementos li:nth-child(13) {
  left: 65%;
  width: 100px;
  height: 100px;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
  border-radius:50em;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
    opacity:1;
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity:0;
  }
  50% {
    opacity:1;
  }
  100% {
    -webkit-transform: translateY(-700px) rotate(600deg);
            transform: translateY(-700px) rotate(600deg);
    opacity:0;
  }
}

.secreg{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    place-items: center;   
}

/*REGISTRO*/

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0); /* Fondo transparente (0.5 es la opacidad) */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    grid-area: 1 / 2; /*dos abajo, dos a un lado*/
}

.container h1{
    text-align: center;
}

.container2 {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(109, 19, 19, 0.623); /* Fondo transparente (0.5 es la opacidad) */
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    grid-area: 1 / 2; /*dos abajo, dos a un lado*/
    color: #ffffff;
}

.container2 h1{
    text-align: center;
}

.form-group {
    margin: 10px 0;
}

.form-group label {
    display: block;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input[type="submit"] {
    background-color: #c0c0c0; /* Color de fondo para el botón de enviar */
    color: #fff;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #c0c0c0; /* Color de fondo para el botón de enviar al pasar el mouse */
}

.bottom-text {
    text-align: center;
    margin-top: 20px;
}

.login-button {
    text-align: center;
    margin-top: 10px;
}

.login-button input[type="submit"] {
    background-color: #999999; /* Color de fondo para el botón de enviar */
    color: #000000;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login-button input[type="submit"]:hover {
    background-color: #c0c0c0; /* Color de fondo para el botón de enviar al pasar el mouse */
}

.form {
    width: 100%;
    max-width: 500px; 
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 200px;
  }

  .h1 {
    text-align: center;
    color: black;
  }

  .label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input[type="submit"] {
    padding: 10px 20px;
    background-color: #999999;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #c0c0c0;
  }
  @media (max-width: 600px) {
    form {
      max-width: 100%;
    }
  }